html,
body {
  height: 100%;
  background: var(--mat-sys-background);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: fit-content;
  height: fit-content;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  app-root {
    min-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  app-root {
    min-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  app-root {
    min-width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  app-root {
    min-width: 1400px;
  }
}
