.container {
  display: flex;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

mat-toolbar {
  gap: 0.7rem;
}

/* Razvan was here */
mat-toolbar button:nth-child(1) mat-icon {
  padding-left: 5px;
}

mat-toolbar button:nth-child(2) mat-icon {
  padding-left: 1px;
}

mat-toolbar .week-number {
  font-size: var(--mat-sys-body-small-size);
  font-weight: var(--mat-sys-body-small-weight);
  background: var(--mat-sys-surface-container);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--mat-sys-corner-small);
}

.calendar {
  background: var(--mat-sys-surface-container-lowest);
  width: 100%;
  box-sizing: border-box;
  color: var(--mat-sys-on-surface);
  overflow: hidden;
  position: relative;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-large);
}

hr {
  height: 1px;
  background: var(--mat-sys-outline-variant);
  border: 0;
  margin: 0;
}

.scroller-x {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  position: relative;
}

.container-x {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.scroller-y {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.days {
  min-width: 952px;
  display: flex;
  box-sizing: border-box;
  padding-left: 70px;
  flex-direction: row;
  position: sticky;
  top: 0;
}

.day-container {
  flex-grow: 1;
  padding: 1rem;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-container span:nth-child(1) {
  font-size: var(--mat-sys-body-small-size);
  font-weight: 200;
}

.day-container span:nth-child(2) {
  width: 2.6rem;
  height: 2.6rem;
  font-size: var(--mat-sys-title-large-size);
  font-weight: var(--mat-sys-title-large-weight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-container span:nth-child(2)[active] {
  color: var(--mat-sys-on-primary);
  position: relative;
  z-index: 0;
}

.day-container span:nth-child(2)[active]::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  border-radius: var(--mat-sys-corner-full);
  background: var(--mat-sys-primary);
}

.time-slots {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 1px;
  flex-direction: column;
  background: var(--mat-sys-outline-variant);
}

.time-slots .row {
  display: flex;
  height: 20px;
  background: linear-gradient(
    var(--mat-sys-surface-container-lowest),
    transparent
  );
  overflow: hidden;
  gap: 1px;
  flex-direction: row;
}

.time-slots .slots {
  height: fit-content;
  display: flex;
  gap: 1px;
  flex-direction: row;
}

.time-slots .slots .column {
  position: relative;
  display: flex;
  gap: 1px;
  flex: 1;
  flex-direction: column;
}

.time-slots .slots .column .events {
  position: absolute;
  width: 100%;
  height: 100%;
}

.events .event {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
}

.events .event .event-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--mat-sys-corner-small);
  background: var(--mat-sys-primary);
  position: relative;
  display: inline-block;
}

.events .event .event-container .interval {
  user-select: none;
  font-size: var(--mat-sys-body-small-size);
  font-weight: var(--mat-sys-body-small-weight);
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  padding: 5px;
  width: fit-content;
  margin: 7px;
  border-radius: var(--mat-sys-corner-small);
}

.events .event .event-container.disabled {
  background: var(--mat-sys-surface-variant);
}

.events .event .event-container.disabled .interval {
  background: transparent;
  color: var(--mat-sys-on-surface);
  opacity: 0.7;
}

.time-slots .slot {
  flex-grow: 1;
  height: 100px;
  background: var(--mat-sys-surface-container-lowest);
}

.time {
  width: 70px;
  display: flex;
  height: fit-content;
  gap: 1px;
  z-index: 1;
  background: var(--mat-sys-surface-container-lowest);
  border-right: 1px solid var(--mat-sys-outline-variant);
  flex-direction: column;
}

.time div {
  width: 100%;
  height: 100px;
  display: flex;
  font-size: var(--mat-sys-body-medium-size);
  font-weight: 200;
  text-align: center;
  justify-content: end;
}

.time div span {
  padding-right: 0.5rem;
  transform: translateY(-0.5rem);
}

@media screen and (min-width: 992px) {
  .container-x {
    width: 100%;
  }
}
