<div class="calendar">
	<div class="scroller-x" (scroll)="onScroll($event)">
		<div class="container-x">
			<div class="days">
				<div class="day-container">
					<span>MON</span>
					<span day-in-month>26</span>
				</div>
				<div class="day-container">
					<span>TUE</span>
					<span day-in-month active>26</span>
				</div>
				<div class="day-container">
					<span>WED</span>
					<span day-in-month>26</span>
				</div>
				<div class="day-container">
					<span>THU</span>
					<span day-in-month>26</span>
				</div>
				<div class="day-container">
					<span>FRI</span>
					<span day-in-month>26</span>
				</div>
			</div>

			<hr>

			<div class="scroller-y">
				<div class="time" #times>
					<div style="height: 20px;"></div>
					<div><span>8:00</span></div>
					<div><span>9:00</span></div>
					<div><span>10:00</span></div>
					<div><span>11:00</span></div>
					<div><span>12:00</span></div>
					<div><span>13:00</span></div>
					<div><span>14:00</span></div>
					<div><span>15:00</span></div>
					<div><span>16:00</span></div>
					<div><span>17:00</span></div>
					<div><span>18:00</span></div>
					<div><span>19:00</span></div>
				</div>
				<div class="time-slots" #timeSlots>
					<div class="row">
						<div class="slot"></div>
						<div class="slot"></div>
						<div class="slot"></div>
						<div class="slot"></div>
						<div class="slot"></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
					<div class="row">
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
						<div class="slot" table-data></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>