:host {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  padding: 1rem;
  justify-content: center;
  color: var(--mat-sys-on-background);
}

.container {
  max-width: 400px;
}

.section {
  color: var(--mat-sys-on-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 24px;
}

.login {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 1rem;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

button {
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.buttons.submit > button:nth-child(1) {
  margin-right: auto;
}

.representative {
  flex: 1;
  position: relative;
  display: none;
}

.representative > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 700px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 992px) {
  .representative {
    display: unset;
  }
}
