main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

header {
  box-sizing: border-box;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  gap: 1rem;
  width: 100%;
  z-index: 10000;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  user-select: none;
  font-size: 1.5rem;
  color: var(--mat-sys-on-background);
  background: rgba(18, 20, 14, 0.9);
  backdrop-filter: blur(8px);
}

header > .logout {
  margin-left: auto;
}

header > .back mat-icon {
  margin-left: 5px;
}

.unavailable-notification {
  z-index: 100000000;
  position: fixed;
  width: calc(396px);
  max-width: calc(100% - 2rem);
  background: var(--mat-sys-error-container);
  color: var(--mat-sys-error);
  user-select: none;
  padding: 1rem;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  border-radius: var(--mat-sys-corner-medium);
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.unavailable-notification mat-icon {
  width: auto;
  height: auto;
  padding-right: 0.2rem;
  font-size: 1rem;
  transform: translateY(0.1rem);
}

@media screen and (min-width: 992px) {
  .unavailable-notification {
    width: 40%;
  }
}
