main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

header {
  box-sizing: border-box;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  gap: 1rem;
  width: 100%;
  z-index: 10000;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  user-select: none;
  font-size: 1.5rem;
  color: var(--mat-sys-on-background);
  background: rgba(18, 20, 14, 0.9);
  backdrop-filter: blur(8px);
}

header > .logout {
  margin-left: auto;
}

header > .back mat-icon {
  margin-left: 5px;
}
