<div class="forms">
  <h2>Delete Clinic</h2>
  <form>
    <mat-form-field>
      <mat-label>Identifier</mat-label>
      <input required matInput placeholder="Identifier" />
    </mat-form-field>
    <button mat-flat-button>Delete</button>
  </form>
  <h2>Insert Clinic</h2>
  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input required matInput placeholder="Name" />
    </mat-form-field>
    <div class="pair">
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input required matInput placeholder="Latitude" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input required matInput placeholder="Longitude" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input required matInput placeholder="City" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea required matInput placeholder="Address"></textarea>
    </mat-form-field>
    <button mat-flat-button>Insert</button>
  </form>
</div>
<div class="representative">
  <img src="./assets/admin.svg" />
</div>
