:host {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  padding: 1rem;
  justify-content: center;
  color: var(--mat-sys-on-background);
}

.forms {
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

.pair {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.exception {
  width: 100% !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  color: var(--mat-sys-on-background);
  gap: 1rem;
  flex-direction: column;
}

.exception > button {
  width: fit-content;
}

.representative {
  flex: 1;
  position: relative;
  display: none;
}

.representative > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 700px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 992px) {
  .representative {
    display: unset;
  }
}
