@if (doctorName && clinicName) {
  <div class="detail-container">
    <div class="details">
      <h2>{{ doctorName }}</h2>

      <div class="location">
        <mat-icon class="material-icons-outlined"> location_on </mat-icon>
        {{ clinicName }}
      </div>
    </div>
    @if (subscribed !== undefined) {
      <button
        mat-stroked-button
        (click)="unsubscribe()"
        [style.display]="subscribed ? 'unset' : 'none'"
      >
        <mat-icon>notifications_off</mat-icon><span>Unsubscribe</span>
      </button>
      <button
        mat-flat-button
        (click)="subscribe()"
        [style.display]="subscribed ? 'none' : 'unset'"
      >
        <mat-icon>notifications</mat-icon><span>Subscribe</span>
      </button>
    }
  </div>

  <div class="container">
    <calendar [slots]="slots" (openEvent)="openDialog($event)" />
  </div>
} @else {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
